<section class="px-5  py-4 mt-2 mb-5">
  <div class="mb-5 d-flex justify-content-between">
    <div>
      <h4 class="fw-bolder">Disponibilidade</h4>
      <small class="text-muted">Configure os horários em que estiver disponível para reservas.
      </small>
      <br>
      <small class="text-muted">
        Preencha na tabela abaixo a disponibilidade e o valor de cada horário do consultório.
      </small>
    </div>
  </div>


  <div class="row gx-5">
    <div class="col-7">
      <div id="Horarios" class="mb-5 px-2">
        <div class="card px-4 row horarios" style="    border-radius: 0.125rem;">
          <div class="border-bottom w-100 d-flex justify-content-between py-4">
            <span class="badge bg-light fw-normal fs-6 border py-2 px-3 text-dark">
              <i class="fas text-primary fa-badge-check"></i>
              Horário semanal</span>
            <a (click)="definirHorarioComercial()" class="text-small button-soft" style="text-decoration: none;">Definir
              horário comercial</a>

          </div>
          <div class="col">
            <div class="list-group list-group-flush">
              <div class="list-group-item pl-4 d-flex py-0 align-items-center"
                *ngFor="let dia of diasSemana; let i = index">
                <div class="flex-fill py-2">
                  <div class="row w-100">
                    <div class="col-md-3 col-sm-auto pt-3 px-0 pb-2 align-items-center">
                      <div class="form-check form-switch">
                        <label class="form-check-label m-0" style="font-size: 14px;font-weight:300"
                          for="customSwitch{{ i }}">{{
                          dia.label }}</label>
                        <input
                          type="checkbox"
                          (change)="alternarEstadoDia(dia)"
                          [checked]="dia?.horarios.length > 0"
                          [(ngModel)]="dia.ativo"
                          class="form-check-input"
                          id="customSwitch{{ i }}" />
                      </div>
                    </div>
                    <div class="col py-3" *ngIf="!dia.ativo">
                      <i *ngIf="dia.ativo == false">Indisponível</i>
                    </div>

                    <div class="col-7" *ngIf="dia.ativo">
                      <div class="justify-content-center" *ngFor="let horario of dia.horarios; let j = index">
                        <div class="col-auto" *ngIf="dia.ativo">
                          <div class="row py-1 "
                            [ngClass]="{'bg-light border rounded': horario.excecao}">
                            <div class="form-floating col">
                              <input
                                type="tel"
                                [typeahead]="sugestoesHorarios"
                                [(ngModel)]="horario.horarioInicial"
                                [typeaheadMinLength]="0"
                                [typeaheadScrollable]="true"
                                class="form-control form-control-sm"
                                id="floatingInputAbre{{ j }}"
                                placeholder="19:00" />
                              <label class="text-muted" for="floatingInputAbre{{ j }}">De</label>
                            </div>
                            <div class="form-floating col">
                              <input
                                type="tel"
                                [typeahead]="sugestoesHorarios"
                                [(ngModel)]="horario.horarioFinal"
                                [typeaheadMinLength]="0"
                                [typeaheadScrollable]="true"
                                class="form-control form-control-sm"
                                id="floatingInputFecha{{ j }}"
                                placeholder="20:00" />
                              <label class="text-muted" for="floatingInputFecha{{ j }}">Até</label>
                            </div>
                            <div class="col-auto ps-0 d-flex align-items-center">
                              <input value="R$ 10/h" style="max-width: 7em; font-size: 14px!important;"
                                class="form-control form-control-sm fw-normal border py-2 px-2 text-dark">
                              <button type="button" class="btn btn-rounded btn-outline-default border-0"
                                (click)="removerCampoHorario(dia, horario)">
                                <i class="fal fa-trash text-muted" style="cursor: pointer"></i>
                              </button>
                              <small class="badge bg-warning" style="position: absolute;
                              right: 67px;" *ngIf="horario.excecao">Exceção</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col d-flex justify-content-end" *ngIf="dia.ativo">
                      <div class="mt-2">
                        <div class="btn-group" dropdown>
                          <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-rounded drop down-toggle btn-outline-default border-0"
                            aria-controls="dropdown-basic">
                            <i class="fal fa-plus text-muted" style="cursor: pointer"></i>
                          </button>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="addCampoHorario(dia, true)">
                                {{dia?.label}} seguinte apenas</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="addCampoHorario(dia)">{{dia?.label}}s
                                de todas as
                                semanas</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="list-group-item d-flex justify-content-end align-items-center">
                <a class="btn btn-dark w-100px">Salvar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card py-3 mt-5 px-3" style="border-top-left-radius: 0;border-top-right-radius: 0;">
        <div class="w-100 border-bottom px-2 pb-3">
          <div class="d-flex justify-content-between">
            <h5>Exceções</h5>
          </div>
          <small class="text-muted">Com base nesta tabela, os valores preenchidos irão sobrescrever a tabela de
            Disponibilidade e valor.
          </small>
        </div>

        <ul style="list-style-type: none; margin: 0; padding: 0 1em;">
          <li class="d-flex border-bottom  justify-content-between pt-3">
            <p>
              <small>02/11/2022</small>
            </p>
            <div>
              <a href="" class="button-soft text-small" style="text-decoration: none;">Definir</a>
            </div>
          </li>
        </ul>
        <div class="px-3 pt-4">
          <a href="" class="text-small button-soft" style="text-decoration: none;">Cadastrar exceção</a>
        </div>
      </div>

      <br>
      <div class="card py-3 mt-5 px-3" style="border-top-left-radius: 0;border-top-right-radius: 0;">
        <div class="w-100 border-bottom px-2 pb-3">
          <div class="d-flex justify-content-between">
            <h5>Datas especiais e feriados</h5>
          </div>
          <small class="text-muted">Defina o horário de funcionamento para os dias em que seu consultório tem uma
            programação diferente da normal
          </small>
        </div>
        <ul style="list-style-type: none; margin: 0; padding: 0 1em;">
          <li class="border-bottom d-flex justify-content-between pt-3">
            <p>
              <small class=" text-muted">Dia de Nossa Senhora Aparecida</small>
              <br>
              <small>12/10/2022</small>
            </p>
            <div>
              <a href="" class="button-soft text-small" style="text-decoration: none;">Definir</a>
            </div>
          </li>
          <li class="d-flex border-bottom  justify-content-between pt-3">
            <p>
              <small class=" text-muted">Dia de Finados</small>
              <br>
              <small>02/11/2022</small>
            </p>
            <div>
              <a href="" class="button-soft text-small" style="text-decoration: none;">Definir</a>
            </div>
          </li>
          <li class="d-flex border-bottom justify-content-between pt-3">
            <p>
              <small class=" text-muted">Natal</small>
              <br>
              <small>25/12/2022</small>
            </p>
            <div>
              <a href="" class="button-soft text-small" style="text-decoration: none;">Definir</a>
            </div>
          </li>
        </ul>
        <div class="px-3 pt-4">
          <a href="" class="text-small button-soft" style="text-decoration: none;">Adicionar outra data</a>
        </div>
      </div>

    </div>
    <div class="col-4 pe-5">
      <div class="card px-4 pt-4 pb-3" style="border-top-left-radius: 0;border-top-right-radius: 0;">
        <h5>Valor por hora</h5>
        <small class="text-muted">Os valores poderão ser alterados individualmente para cada horário</small>
        <input type="text" value="R$ 10,00"
          class="form-control mt-4 w-auto">
        <div class="d-flex mt-3 mb-0 justify-content-end align-items-center">
          <a class="btn btn-dark btn-sm w-100px">Salvar</a>
        </div>
      </div>


      <br>
      <a href="" class="button-soft p-2 border text-small" style="text-decoration: none;">Marcar como temporariamente
        fechado</a>

    </div>
  </div>
</section>

<br>
<br>
<br>
